@model List<ApplicationCore.Models.BloodDriveModel>
@{
    ViewData["Title"] = " Upcoming Blood Drives";
}
<div class="mb-3">
    <h3>@ViewData["Title"]</h3>
</div>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Organizer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Title</td>
                <td>@p.Location</td>
                <td>@p.StartDate?.ToString("MM/dd/yyyy")</td>
                <td>@p.EndDate?.ToString("MM/dd/yyyy")</td>
                <td>@p.Organizer</td>
            </tr>
        }
    </tbody>
</table>
