@model ApplicationCore.Models.BloodInventoryFilterModel

<h3>Blood Inventory Search</h3>

<form method="post">
    <div class="row">

      <div class="col-md-3">
          <label>Component Type</label>
          <select class="form-control" asp-for="ComponentType">
              <option value="">-- All --</option>
              <option>RBC</option>
              <option>Plasma</option>
              <option>Platelets</option>
              <option>Cryoprecipitate</option>
          </select>
      </div>

      <div class="col-md-3">
          <label>Blood Type</label>
          <select class="form-control" asp-for="BloodType">
              <option value="">-- All --</option>
              <option>A</option>
              <option>B</option>
              <option>AB</option>
              <option>O</option>
          </select>
      </div>

      <div class="col-md-3">
          <label>Rh Factor</label>
          <select class="form-control" asp-for="RhFactor">
              <option value="">-- All --</option>
              <option>+</option>
              <option>-</option>
          </select>
      </div>

      <div class="col-md-3">
          <label>Status</label>
          <select class="form-control" asp-for="Status">
              <option value="">-- All --</option>
              <option>Available</option>
              <option>Issued</option>
              <option>Reserved</option>
              <option>Returned</option>
              <option>Expired</option>
          </select>
        </div>
    </div>

    <br />

    <button class="btn btn-primary" type="submit">Search</button>
</form>


@if (Model.Results != null && Model.Results.Any())
{
    <hr />
    <h3>Results</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Unit ID</th>
                <th>Component</th>
                <th>Blood Type</th>
                <th>Rh</th>
                <th>Volume</th>
                <th>Collection Date</th>
                <th>Expiry Date</th>
                <th>Storage Info</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>@item.UnitID</td>
                    <td>@item.ComponentType</td>
                    <td>@item.BloodType</td>
                    <td>@item.RhFactor</td>
                    <td>@item.Volume</td>
                    <td>@item.CollectionDate.ToShortDateString()</td>
                    <td>@item.ExpiryDate.ToShortDateString()</td>
                    <td>@item.StorageInfo</td>
                    <td>@item.Status</td>
                </tr>
            }
        </tbody>
    </table>
}