@model List<ApplicationCore.Models.DonorModel>
@{
    ViewData["Title"] = "Donor List";
}

<h3>@ViewData["Title"]</h3>
<table class="table table-bordered table-striped">
<thead>
  <tr>
      <th>Full Name</th>
      <th>Date of Birth</th>
      <th>Gender</th>
      <th>Blood Type</th>
      <th>Contact Number</th>
      <th>Email</th>
      <th>Address</th>

  </tr>
  </thead>
  <tbody>
    @foreach (var d in Model)
    {
        <tr>
        <td>@d.FullName</td>
        <td>@d.DOB.ToString("MMM dd, yyyy")</td>
        <td>@d.Gender</td>
        <td>@d.BloodType @d.RhFactor</td>
        <td>@d.Phone</td>
        <td>@d.Email</td>
        <td>@d.Address</td>
        </tr>
    }
  </tbody>
</table>