@model List<ApplicationCore.Models.BloodDriveModel>
@{
    ViewData["Title"] = "Blood Drives";
}

<h3>@ViewData["Title"]</h3>
<table class="table table-bordered table-striped">
<thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Organizer</th>
        </tr>
    </thead>
    <tbody>
@foreach (var p in Model)
{
    <tr>
    <td>@p.Title</td>
    <td>@p.Location</td>
    <td>@p.StartDate.ToString("MMM dd, yyyy")</td>
    <td>@p.EndDate.ToString("MMM dd, yyyy")</td>
    <td>@p.Organizer</td>
    </tr>
}
    </tbody>
</table>